<mat-card class="attribute-card">
    <mat-card-header>

<!--
        <mat-card-title>{{ attr.name }}</mat-card-title>
        <mat-card-subtitle>{{ attr.note }}</mat-card-subtitle>
-->        
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field class="">
                <mat-label>Наименование</mat-label>
                <input #name matInput placeholder="Введите наименование" 
                        [(ngModel)]="attr.name">
            </mat-form-field>
            <button mat-button
                class="float-right"
                (click)="sel()">Выбрать</button>
        </div>


    </mat-card-content>
    <mat-card-actions *ngIf="attrService.slct && attrService.slct.id == attr.id">
        <button mat-button 
            (click)="upd()">Сохранить</button>

        <button mat-button
            (click)="new()">Добавить</button>

        <button mat-button
            (click)="del()">Удалить</button>
    </mat-card-actions>
</mat-card>