<div class="content">
    <div class="attribute-list">
        <app-attribute *ngFor="let attr of atr"
            [attr]="attr"
            [type]="attributeType"
            [item]="item"
            ></app-attribute>
        <div class="control-panel">
            <button mat-raised-button color="primary"
                (click)="addAttr()">Добавить элемент</button>
        </div>
    </div>

    <div class="control-panel">
        
        <button mat-button (click)="close()">Закрыть</button>
    </div>
</div>
