.container {
    .list-header {
        margin: 10px 0px 10px 0px;
    }

    .item {
        margin: 5px 5px 5px 5px;
    }

    .control-panel {
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }
}



