<!--
<mat-card class="example-card col-xs-12 col-sm-6 sol-md-4 col-lg-2">
-->    

<mat-card class="example-card"
    [ngClass]="{'selected': modelService.item_slct && modelService.item_slct.id == item.id}">

<!--
    <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.note }}</mat-card-subtitle>
    </mat-card-header>
-->    

    <mat-card-content>

        <div class="row">
            <mat-form-field class="col-sm">
                <mat-label>Наименование</mat-label>
                <input #name matInput placeholder="Введите наименование" [(ngModel)]="item.name" [name]="'name_' + item.id">
            </mat-form-field> </div>

        <div class="row">
            <mat-form-field class="col-sm">
                <mat-label>Описание</mat-label>
                <textarea matInput placeholder="Введите описание" [(ngModel)]="item.note" [name]="'note_' + item.id"></textarea>
            </mat-form-field> </div>

        <div class="row">
            <mat-form-field class="col-sm-4">
                <mat-label>Стоимость</mat-label>
                <input matInput placeholder="Введите стоимость" [(ngModel)]="item.cost" [name]="'name_' + item.cost">
            </mat-form-field> </div>

        <button mat-stroked-button color="primary" 
                class="attribute-button"
                (click)="openAttributeEditor('Room')">
            {{ item.room == 0 ? 'Место' : item.rnme }}</button>

        <button mat-stroked-button color="primary" 
                class="attribute-button"
                (click)="openAttributeEditor('Type')">
            {{ item.type == 0 ? 'Тип' : item.tnme }}</button>

        <button mat-stroked-button color="primary"
            class="attribute-button"
            >Снять</button>

        <button mat-stroked-button color="primary"
            class="attribute-button"
            >Скрыть</button>

        <app-attribute-editor *ngIf="attrService.vsbl && modelService.item_slct && modelService.item_slct.id == item.id" 
            [item]="item"
            [attributeType]="attributeType"
            ></app-attribute-editor>

    </mat-card-content>

    <mat-card-actions *ngIf="modelService.item_slct && modelService.item_slct.id == item.id"> 
        
        <button mat-button 
            [ngClass]="{'active-clr': isChanged()}"
            (click)="saveItem()">Сохранить</button>

        <button mat-button
            (click)="cancelChange()">Отмена</button>

        <button mat-button
            (click)="newItem()">Добавить</button>

        <button mat-button
            (click)="del()">Удалить</button>
    </mat-card-actions>

</mat-card>